<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

  
</head>
<body onload="myFunction()">
  <div class = "page">
    <div class="section_all section_1">
    <h1 id = "vis-title" class=" text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" style="margin-bottom: 2rem;"></h1>
      <div class="graph_result">
          <div class="graph_result_1">
            <div class="graph_result_2">
             
              
              <div id= "chart-container-1" >
                <canvas id="myChart"  style="width: 1000px; height: 500px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
              </div>

              <div id= "chart-container-2" >
                <canvas id="myChart2"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
              </div>

              <div id= "chart-container-3" >
                <canvas id="myChart3"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
              </div>

              <div id= "chart-container-4" >
                <canvas id="myChart4"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
              </div>

              <div id= "chart-container-5" >
                <canvas id="myChart5"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
              </div>

            </div>
      <div class = "prediction-summ">
        <div class="left-side">
          <div class="dropdown">
            <button id = "drop-btn"  class="dropbtn inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">Forecast</button>
            <div id="myDropdown" class="dropdown-content">

              <!--
              <%= button_to "Amazon", button1_path, method: :get %>
              <%= button_to "Apple", button2_path, method: :get %>
              <%= button_to "Dis", button3_path, method: :get %>
              -->

              <button id='first' class = "first">Amazon</button>
              <button id='second' class = "second" >Apple</a>
              <button id='third' class = "third">Nvidia</a>
              <button id='forth' class = "third">Google</a>
              <button id='fifth' class = "third">Walmart</a>
            </div>
          </div>

          <div class = "slope-chart">
          <h1 class=" text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" style="margin-bottom:2rem;">Prediction Summary</h1>
            <div id ="chart-container-6">
              <canvas id="myChart6"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>
            <div id ="chart-container-7">
              <canvas id="myChart7"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>
            <div id ="chart-container-8">
              <canvas id="myChart8"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>
            <div id ="chart-container-9">
              <canvas id="myChart9"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>
            <div id ="chart-container-10">
              <canvas id="myChart10"  style="width: 500px; height: 250px;" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>

            <div class="slope-performance">
              <div class = "slope-price" style="display: flex; flex-direction: column; gap: 1rem; width: 60%;">
                <div class="slope-s-price" style="display: flex; justify-content: space-between; background-color: lightgray; border-radius: 1rem; padding: 1rem;">
                  <p id="perform-start"></p>
                  <p id="perform-start-price"></p>
                </div>
                <div class="slope-e-price" style="display: flex; justify-content: space-between; background-color: lightgray; border-radius: 1rem; padding: 1rem;">
                  <p id="perform-end"></p>
              
                  <p id="perform-end-price"></p>
                </div>
              </div>
              <div class="slope-p-price">
              
              
              <p id="perform-percent"></p>
              </div>

            </div>

          </div>
        </div>

      
      </div>
  </div>
  </div>
  </div>

    
</div>


<%= javascript_include_tag('chart_result.js') %>
<%= javascript_include_tag('dropdown.js') %>
</body>
</html>



